body {
  background: url("../img/spiration-dark/spiration-dark.png") repeat;
}
h2  {
  color: white;
  font-family: "Quicksand", serif;
  font-weight: bold;
  text-align: center;
}
h3  {
  color: white;
  font-family: "Quicksand", serif;
  font-weight: bold;
  text-align: left
}
h4  {
  font-family: "Quicksand", serif;
  font-weight: bold;
  text-align: left;
}
li {
  font-family: "EB Garamond", serif;
}
p {
  font-family: "EB Garamond", serif;
}
img {
  border: 2px solid white;
  border-radius: 100%;
  display: block;
  margin: 0 auto;
  width: 30%;
}
/*This section styles the container for all of the content*/
.container {
  background-color: #090909;
  height: auto;
  padding: 0;
  width: 80%;
}
.quote {
  font-style: italic;
}

/*This section styles jumbotron*/
.jumbotron {
  background-color: #36f7c3;
}
.jumbotron h1  {
  color: black;
  font-family: "Quicksand", serif;
  font-weight: bold;
  text-align: center;
}
.jumbotron p {
  color: black;
  text-align: center;
}

/*This section styles the "About Me" section*/
.about h2 {
  border-bottom: 2px solid #EB7B59;
  margin-bottom: 30px;
}
.about h3 {
  border-bottom: 1px solid #EB7B59;
  color: white;
  margin-top: 0;
  margin-left: 10%;
  margin-right: 10%;
}
.about li {
  color: white;
}
.about p {
  color: white;
  margin-bottom: 30px;
  margin-left: 15%;
  margin-right: 15%;
}
.about ul {
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 30px;
}

/*This section styles the project section*/


.project-list {
  margin: 0 auto;
  overflow: hidden;
}
.project-list h2 {
  border-bottom: 2px solid #CF4647;
  margin-bottom: 30px;
}
.portfolio {
  display: flex;
  margin: 0 auto;
}
.project {
  background-color: white;
  border-radius: 3px;
  float: left;
  margin-bottom: 15px;
  margin-right: 15px;
  margin-left: 15px;
  width: 40%;
}
.project h3 {
  color: black;
  margin-left: 15px;
  margin-right: 15px;
  text-align: center;
}
.project h4 {
  margin-left: 15px;
  margin-right: 15px;
}
.project img {
  border-radius: 0;
  border: 1px solid gray;
  box-shadow: 1px 1px 1px gray;
  display: block;
  width: 70%;
  margin: 20px auto;
}
.project li {
  color: black;
}
.project p {
  margin-left: 15px;
  margin-right: 15px;
}
.btn {
  background-color: #CF4647;
  border-radius: 0 0 3px 3px;
  border: 1px solid #CF4647;
  display: block;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .portfolio {
    display: block;
    margin: 0 auto;
  }
  .project {
    float: none;
    margin-bottom: 15px;
    margin-right: 15px;
    margin-left: 15px;
    width: 100%;
  }
  .project img {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    display: block;
    width: 70%;
    margin: 20px auto;
  }
}
