h1  {
  font-family: "Quicksand", serif;
  font-weight: bold;
  text-align: center;
  font-size: 80px;
}
p {
  font-family: "EB Garamond", serif;
}

body {
  background-color: #524656;
}
img {
  display: block;
  margin: 0 auto;
  width: 50%;
}

.banner p {
  text-align: center;
}

.container {
  width: 80%;
  background-color: #E5DDCB;
  height: auto;
}
