body {
  background: url("../img/spiration-dark/spiration-dark.png") repeat;
}
h2  {
  color: white;
  font-family: "Quicksand", serif;
  font-weight: bold;
  text-align: center;
}
h3  {
  color: white;
  font-family: "Quicksand", serif;
  font-weight: bold;
  text-align: left
}
h4  {
  font-family: "Quicksand", serif;
  font-weight: bold;
  text-align: left;
}
li {
  font-family: "EB Garamond", serif;
}
p {
  font-family: "EB Garamond", serif;
  font-size: 16px;
}
img {
  border: 2px solid white;
  border-radius: 100%;
  display: block;
  margin: 30px auto;
  width: 10%;
}
/*This section styles the container for all of the content*/
.container {
  background-color: #090909;
  height: auto;
  padding: 0;
  width: 80%;
  margin-bottom: 2%;
}
.quote {
  font-style: italic;
}

/*This section styles jumbotron*/
.jumbotron {
  background-color: #36f7c3;
  background: linear-gradient(330deg, #e05252 0%, #99e052 25%, #52e0e0 50%, #9952e0 75%, #e05252 100%); /* NOTE: I hated the plain color so I copied this function from http://creative-punch.net/2014/02/colorful-gradient-text-css3/ */
}
.jumbotron h1  {
  color: black;
  font-family: "Quicksand", serif;
  font-weight: bold;
  text-align: center;
  margin-top: 0;
}
.jumbotron p {
  color: black;
  text-align: center;
  margin-bottom: 0;
}

/*This section styles the "About Me" section*/
.about h2 {
  border-bottom: 2px solid #EB7B59;
  margin-bottom: 30px;
}
.about h3 {
  border-bottom: 1px solid #EB7B59;
  color: white;
  margin-top: 0;
  margin-left: 10%;
  margin-right: 10%;
}
.about li {
  color: white;
}
.about p {
  color: white;
  margin-bottom: 30px;
  margin-left: 15%;
  margin-right: 15%;
}
.about ul {
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 30px;
}

/*This section styles the "Contact Me" section*/
.contact h2 {
  border-bottom: 2px solid #36f7c3;
  margin-bottom: 30px;
}
.contact p {
  color: white;
  margin-bottom: 30px;
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
}

/*This section styles the project section*/
.project-list {
  margin: 0 auto;
  overflow: hidden;
}
.project-list h2 {
  border-bottom: 2px solid #CF4647;
  margin-bottom: 30px;
}
.portfolio {
  display: flex; /* Note: I have no idea why this works! */
  flex-direction: row;
  margin: 0 auto;
}
.project {
  background-color: white;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 15px;
  margin-right: 15px;
  margin-left: 15px;
  width: 40%;
}
.project h3 {
  color: black;
  margin-left: 15px;
  margin-right: 15px;
  text-align: center;
}
.project h4 {
  margin-left: 15px;
  margin-right: 15px;
}
.project img {
  border-radius: 0;
  border: 1px solid gray;
  box-shadow: 1px 1px 1px gray;
  display: block;
  width: 70%;
  margin: 20px auto;
}
.project li {
  color: black;
}
.project p {
  margin-left: 15px;
  margin-right: 15px;
}
.btn {
  background-color: #CF4647;
  border-radius: 0 0 3px 3px;
  border: 1px solid #CF4647;
  display: block;
  margin-top: auto;
}

.light-theme {
  background: url("../img/spiration-light/spiration-light.png") repeat;
}

.light-theme h1, .light-theme h2, .light-theme h3, .light-theme h4, .light-theme p, .light-theme li {
  color: black;
}

.light-theme .container {
      background-color: white;
}

.light-theme .project {
  background-color: #f2f2f2;
}

@media screen and (max-width: 768px) {
  .portfolio {
    display: block;
    margin: 0 auto;
  }
  .project {
    float: none;
    margin-bottom: 15px;
    margin-right: 0;
    margin-left: 0;
    width: 100%;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 480px) {
  .container .jumbotron {
    border-radius: 0;
  }
  .container {
    width: 100%;
  }
  .portfolio {
    margin-left: 15%;
    margin-right: 15%;
  }
  .project {
    margin-bottom: 30px;
  }
  .project img {
    border-radius: 0;
    border-left: none;
    border-right: none;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    box-shadow: 0 0 0 0;
    display: block;
    width: 100%;
    margin: 0 auto;
  }
}
