body {
  background: url("../img/spiration-dark/spiration-dark.png") repeat;
}

h2  {
  font-family: "Quicksand", serif;
  font-weight: bold;
  text-align: center;
  color: white;
}
h3  {
  font-family: "Quicksand", serif;
  font-weight: bold;
  text-align: left
  color: white;
}
h4  {
  font-family: "Quicksand", serif;
  font-weight: bold;
  text-align: left;
}
li {
  font-family: "EB Garamond", serif;
}
p {
  font-family: "EB Garamond", serif;
}
img {
  display: block;
  margin: 0 auto;
  width: 30%;
  border: 2px solid white;
  border-radius: 100%;
}
/*This section styles the container for all of the content*/
.container {
  width: 80%;
  background-color: #090909;
  height: auto;
  padding: 0;
}
.quote {
  font-style: italic;
}

/*This section styles jumbotron*/
.jumbotron {
  background-color: #36f7c3;
}
.jumbotron h1  {
  font-family: "Quicksand", serif;
  font-weight: bold;
  text-align: center;
  color: black;
}
.jumbotron p {
  text-align: center;
  color: black;
}

/*This section styles the "About Me" section*/
.about h2 {
    border-bottom: 2px solid #EB7B59;
    margin-bottom: 15px;
}
.about h3 {
  margin-top: 0;
  color: white;
  margin-left: 5%;
  margin-right: 5%;
  border-bottom: 1px solid #EB7B59;
}
.about li {
  color: white;
}
.about p {
  margin-bottom: 30px;
  color: white;
  margin-left: 5%;
  margin-right: 5%;
}
.about ul {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 30px;
}

/*This section styles the project section*/
.project-list {
  margin: 0 auto;
  overflow: hidden;
}
.project-list h2 {
  border-bottom: 2px solid #CF4647;
  margin-bottom: 15px;
}
.portfolio {
  margin: 0 auto;
  display: flex;
}
.project {
  width: 40%;
  background-color: white;
  border-radius: 3px;
  margin-bottom: 15px;
  margin-right: 15px;
  margin-left: 15px;
  float: left;
}
.project h3 {
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
}
.project h4 {
  margin-left: 15px;
  margin-right: 15px;
}
.project img {
  display: block;
  border-radius: 0;
  margin: 20px auto;
  border: 1px solid gray;
  box-shadow: 1px 1px 1px gray;
}
.project li {
  color: black;
}
.project p {
  margin-left: 15px;
  margin-right: 15px;
}
.btn {
  display: block;
  margin: 0;
  border-radius: 0 0 3px 3px;
  background-color: #CF4647;
  border: 1px solid #CF4647;
}
